<div class="row">
  <%= link_to "Back to feeds", feeds_path %>
  <h2>Feed <%= @feed.id %> <%= @feed.name %></h2>
  <%= link_to "Add new product", new_feed_product_path(@feed), class: "button" %>

  <%= will_paginate @products %>

  <div class="list">
    <%= render partial: "products/product", collection: @products %>
  </div>

  <%= will_paginate @products %>
</div>
