<h2>Feed <%= @feed.id %> - <%= @feed.created_at %></h2>

<%= will_paginate @products %>

<div>
  <%= render partial: "products/product", collection: @products %>
</div>

<%= will_paginate @products %>
