<div class="row">
  <%= link_to "< back", feeds_path %>
  <div class="align-box">
    <h2>Feed <%= @feed.id %> <%= @feed.name %></h2>
    <%= link_to "Add new product", new_feed_product_path(@feed), class: "button" %>
  </div>

  <div class="list">
    <%= render partial: "products/product", collection: @products %>
  </div>

  <%= will_paginate @products %>
</div>
