<div class="row">
  <%= link_to "< back", product_path(@product) %>

  <%= form_for @product, url: product_path(@product), html: { class: "products-form" } do |f| %>
    <div>
      <%= f.label :title, class: "form__text-label" %>
      <%= f.text_field :title, class: "form__text-input" %>
    </div>
    <div>
      <%= f.label :aff_code, class: "form__text-label" %>
      <%= f.text_field :aff_code, class: "form__text-input" %>
    </div>
    <div>
      <%= f.label :price, class: "form__text-label" %>
      <%= f.text_field :price, class: "form__text-input" %>
    </div>
    <div>
      <%= f.label :campaign_name, class: "form__text-label" %>
      <%= f.text_field :campaign_name, class: "form__text-input" %>
    </div>
    <div>
      <%= f.label :image_urls, class: "form__text-label" %>
      <%= f.text_field :image_urls, class: "form__text-input" %>
    </div>
    <div>
      <%= f.label :description, class: "form__text-label" %>
      <%= f.text_field :description, class: "form__text-input" %>
    </div>
    <%= f.submit "update product", class: "form__submit button" %>
  <% end %>
</div>
