<div class="row">
  <div class="align-box pad1">
    <%= link_to "< back", feed_path(@product.feed) %>
    <div>
      <%= link_to "", edit_product_path(@product), class: "round-button round-button_edit" %>
      <%= link_to "", product_path(@product), method: :delete, class: "round-button round-button_delete" %>
    </div>
  </div>

  <div class="product-board">
    <div class="product-board__image-pane">
      <%= image_tag @product.images_array.first, class: "product-board__image" %>
    </div>
    <div class="product-board__info">
      <%= simple_format(@product.title, {class: "product-board__title"}, wrapper_tag: "div") %>
      <div>Campaign name: <%= @product.campaign_name %></div>
      <%= simple_format("Description: #{@product.description}", {class: "product-board__description"}, wrapper_tag: "div") %>
      <div>Category: <%= @product.category %></div>
    </div>
    <div class="product-board__price-pane">
      <div class="product-board__price"><span class="product-board__price-label">price</span><br><%= @product.price %></div>
    </div>
  </div>

  <div class="pad1">
    <% @product.images_array.each do |url| %> 
      <a class="fancybox fancybox.image" rel="gallery1" href="<%= url %>" title="">
        <%= image_tag url %>  
      </a>
      <a class="fancybox fancybox.image" rel="gallery1" href="<%= url %>" title="">
        <%= image_tag url %>  
      </a>
      <a class="fancybox fancybox.image" rel="gallery1" href="<%= url %>" title="">
        <%= image_tag url %>  
      </a>
    <% end %>
  </div>
</div>
