<%= link_to "Inapoi la produse", feed_path(@product.feed) %>
<%= link_to "Edit", edit_product_path(@product) %>
<%= link_to "Destroy", product_path(@product), method: :delete %>

<div>
  <div>title: <%= @product.title %></div>
  <div>price: <%= @product.price %></div>
  <div>campaign_name: <%= @product.campaign_name %></div>
  <div>aff_code: <%= @product.aff_code %></div>
  <div>description: <%= @product.description %></div>
</div>
<div>
  Images: 
  <div>
    <% @product.images_array.each do |url| %>
      <%= image_tag url %>
    <% end %>
  </div>
</div>
